:root {
    --primary: #ff9e80;
    --primary-light: #ffd0b0;
    --primary-dark: #c96f53;

    --secondary: #795548;
    --secondary-light: #a98274;
    --secondary-dark: #4b2c20;

    --text-on-primary: #000000;
    --text-on-secondary: #ffffff;

    --primary-button: pink;
    --primary-button: white;


}

.horns-header{
    height: auto;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    background-color: var(--primary);
    color: var(--text-on-primary);
    border-radius: 15px;

    border-width: 5px 5px 5px 5px;
    border-style: solid;
    
    border-top-color: var(--primary-dark);
    border-bottom-color: var(--primary-dark);
    border-left-color: var(--primary-dark);
    border-right-color: var(--primary-dark);
}

.horns-header-icon{
    height: auto;
    max-height: 100%;
    width: 70px;
    max-width: 100%;
    margin: 10px;
}

.body-content{
    justify-content: flex-start;
    align-items: center;
    height: 700px;
    width: 790px;
    min-width: 50%;
    margin: 15px auto auto auto;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    overflow: hidden;

    
    border-width: 20px 5px 5px 5px;
    border-style: solid;
    
    border-top-color: var(--primary-dark);
    border-bottom-color: var(--primary-dark);
    border-left-color: var(--primary-dark);
    border-right-color: var(--primary-dark);
}


.body-button-container{
    display: flex;
    height: auto;
    width: 100%;
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
}

.body-button-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    
    padding: 5px;
}

.body-button-container #catCount{
    margin: 7px;
}

.body-button-catgeneration{
    height: 40px;
    width: 40px;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: var(--secondary);
    border: 2px solid black;
    border-radius: 100%;
    color: var(--text-on-secondary);
}

.body-button-catgeneration:hover{
    background-color: white;
    color: var(--text-on-primary);
    border: 2px solid var(--secondary);
}

.button_generateCats{
    height: 40px;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    border-radius: 2px 2px;
    border-radius: 8px;
}

.button_lock{
    margin-bottom: 20px;
}

.catcard-container{
    margin: auto;
}

.SectionLabel {
    padding: 0px 0px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sectionTitle{
    margin: 0px 0px 0px 0px;
}

.horns-footer{
    margin: 10px 0px 0px 0px;
}

.horns-footer ul{
    padding: 0;
    margin: 0px;
    list-style: none;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.horns-footer-content{
    
}

.title-container {
    padding: 0px 0px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.title{
    margin: 0px 0px 0px 0px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.thin-hr {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 0%;
    border: 0px;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}
.break-hr {
    margin: 4px 4px 4px 4px;
    border: 0px;
    width: auto;
    height: 1px;
    background: rgb(0, 0, 0);
}

.thick-hr{
    flex: 1 1 0%;
    border: 0px;
    width: 100%;
    height: 4px;
    background: rgb(0, 0, 0);
}

td{
    justify-content: center;
    align-items: center;
    text-align: center;
}