.body{
    margin: auto;
    height: auto;
    width: min-content;
    max-height: 100%;
    max-width: 100%;
}
.header{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
}

#header_icon{
    height: auto;
    max-height: 100%;
    width: 100px;
    max-width: 100%;
    margin: 10px;
}

.body-content{
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.body-content  h2{
    margin: 20px;
}


.catgirl{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    padding: 5px;
}
.package{
    max-width: 100%;
    max-height: 100%;
    height: min-content;
    width: 270px;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 214, 196);
    margin: 10px;
}

.package  div{
    
    height: auto;
    justify-content: center;
    align-items: center;
    
}
.package  h4{
    text-align: center;
    background-color: aliceblue; 
}

.InfoContainer{
    padding: 0px 0px 15px 0px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.InfoContainerTest{
    padding: 0px 0px 15px 0px;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 1000px;
    display: flex;
    flex-direction: row;}



.info{
    padding: 17px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.info table{
    margin: 0px 0px 0px 10px;
}

.catDAata{
    margin-left: 5px;
}

#cat-text{
    width: 400px;
    margin: 10px 0px 10px 10px;
    
}

#cat-text .block{
    padding: 15px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#cat-text h4{
    text-align: center;
    background-color: aliceblue; 
}

#button-container{
    display: flex;
    height: auto;
    width: 300px;
    margin: 10px;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.catgirl_buttons{
    margin: 5px auto 5px auto;
    justify-content: center;
    align-items: center;
    display: flex;

}
/* .button{
    height: auto;
    width: max-content;
    margin: 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
} */

.button{
    height: auto;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
}

/* .button_json{
    height: auto;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
}

.button_reload{
    height: auto;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
}

.button_lock{
    height: auto;
    width: max-content;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
} */

.button:hover{
    box-shadow: 5px; 
    box-shadow: 4px 4px ;
}

.catgirl_button{
    height: 40px;
    width: 40px;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: pink;
    border: 2px solid white;
    border-radius: 100%;
}

.catgirl_button:hover{
    background-color: white;
    border: 2px solid pink;
}

.catgen_button{
    height: 40px;
    width: 40px;
    margin: 5px 5px 5px 5px;
    padding: 6px;
    background-color: darkgray;
    border-radius: 2px 2px;
    box-shadow: 4px 4px grey;
}

.catgen_button:hover{
    box-shadow: 5px; 
    box-shadow: 4px 4px ;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.thin-hr {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 0%;
    border: 0px;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.thick-hr{
    flex: 1 1 0%;
    border: 0px;
    width: 100%;
    height: 4px;
    background: rgb(0, 0, 0);
}

.SectionLabel {
    padding: 0px 0px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sectionTitle{
    margin: 0px 0px 0px 0px;
}

.horns-footer{

}

.horns-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.horns-footer-content{
    
}

.footer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 

    left: 0;
    bottom: 1;

    width: 100%;
}

.catcard-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.catcard-container > *{
    flex: 1 1 1;
}

td{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.catcard{
    height: auto;
    
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 5px 5px 5px;
}
.catcard_title{
    background-color:antiquewhite;
    border-radius: 5px;
    margin: 8px;
}

.catcard_content{
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.catcard_content > div{
    margin: auto;
}
.tablesTest{
    padding: 8px 8px 8px 8px;
    height: auto;
    border-radius: 5px;
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.tablesTest td{
    justify-content: center;
    align-items: center;
    text-align:left;
}
.cattext{
    padding: 8px 8px 8px 8px;
    height: auto;
    border-radius: 5px;
    background-color:antiquewhite;
}

.button_lock .icon-unlocked{
    display: block;
}

.button_lock .icon-locked{
    display: none;
}

.colorExample{
    height: 2px; 
    width: 5px; 
    background-color: rgb(0, 0, 0);
    outline: 4px solid rgb(0, 0, 0);
}

#catCount{
    text-align: center;
    width: 50px;
}